.ListaLogin {
  color: #fff;
  padding: 20px;
}
.itemLogin {
  color: #fff;
  background-color: #e65100;
  border: none;
  transition-duration: 0.4s;
  font-size: calc(0.5em + 1vw); /* RESPONSIVIDADE */
  margin: 15px 15px 0px 0px;
}

.itemLogin:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
