.NavLateral {
  background-color: #454236;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.Menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 85vh;
}
.roloPrincipal {
  padding-top: 2.5%;
  background-color: #fff;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
}
