.NavLateral {
  background-color: #e65100;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.Menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}
.corpo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 10vh;
}
.roloPrincipal {
  padding-top: 2.5%;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
